<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Channel</title>
    </head>
    <body>
        <input type="hidden" id="channelId" th:value="${channel.id}" />
        <h1 th:text="${channel.name}">Channel name</h1>
        <div id="messagesContainer">

        </div>

        </div>
        <form id="messageForm" action="#" th:action="@{/channels/{channelId}/messages(channelId=${channel.id})}" method="post">
            <input type="text" id="messageContent" name="messageContent" required>
            <button type="button" id="sendMessage">Send</button>
        </form>
        <script src="/channel.js"></script>

    </body>
</html>