<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Channel</title>
    </head>
    <body>
        <h1>Channel name</h1>
        <div id="messages">
            <div th:each="message : ${messages}">
            <p th:text="${message.content}">Message content</p>
            </div>
        </div>
        <form id="messageForm" action="#" th:action="@{/channels/{channelId}/messages(channelId=${channel.id})}" method="post">
            <input type="text" name="messageContent" required>
            <button type="submit">Send</button>
        </form>

    </body>
</html>